<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.ochanuco.bc768-app</string>
	<key>CFBundleName</key>
	<string>BC-768</string>
	<key>CFBundleExecutable</key>
	<string>bc768-app</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>TANITA BC-768 との BLE 通信に Bluetooth を使用します。</string>
</dict>
</plist>
